:root {
    --default: black;
    --dark: #351C75;
    --medium: #BD60E7;
    --light: #D9D3E9;
}

/* element selectors */
body{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

h1,
p,
button {
    align-self: center;
}

h1 {
    font-size: 4rem;
    padding: 2rem;
    margin: 2rem;
}

p {
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem;
}

button {
    background: var(--dark);
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
}

button:hover {
    cursor: default;
    background: var(--medium);
    cursor: pointer;
}

form {
    font-size: 1.5rem;
}

/* class selectors */
.high-score {
    margin: 2rem;
}

.timer {
    margin: 2rem;
}

.instructions {
    align-self: center;
    margin: 5rem;
    width: 55%;
    text-align: center;
}

.answer{
    display: block;
    background: var(--dark);
    color: white;
    border: none;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    border-radius: 10px;
    text-align: left;
    width: 20rem;
}

.answer:hover
{
    cursor: default;
    background: var(--medium);
    cursor: pointer;
}

/* style for high scores section */
.high-score-page {
    justify-self: center;
}

.high-score-button {
    font-size: 1.8rem;
    padding: .5rem 3rem;
    margin: 2rem 2rem 2rem 0;
}

.high-scores {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 70%;
}
.high-scores h2 {
    align-self: left;
    font-size: 4rem;
    padding: 2rem 0;
    margin: 2rem 0;
}

/* id selectors */

/* style for high score link in the header */
#high-scores {
    justify-content: center;
}

#high-score-link {
    background-color: transparent;
    color: var(--medium);
    margin-left: 2rem;
}

/* style for start page */
#start {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-content: center;
    justify-content: center;
}

#start-button {
    padding: 1rem 3rem;
    margin: 1rem;
    font-size: 1.5rem;
}

#quiz {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz-field {
    padding: 2rem;
    margin: 5rem 2rem;
    border: 5px;
    width: 60%;
}

#questionText {
    font-size: 2.5rem;
}

#answers{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

#validation{
    display: block;
    border-style: solid hidden hidden hidden;
    border-color: grey;
    padding: 1rem;
    font-size: 2rem;
    font-style: italic;
    color: grey;
}

#submit-button {
    padding: 0.5rem 3rem;
    margin: 1rem;
    font-size: 1.3rem;
}

#initials {
    padding-left: 1rem;
    margin-top: 1rem;
}

div #high-score-list {
    background-color: var(--light);
}

#high-score-list {
    list-style: decimal;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: var(--default);
}

#high-score-list li {
    padding: 0.5rem;
    border-bottom: var(--medium) 0.1rem dotted;
}

#results {
    margin-top: 4rem;;
    font-size: 1.5rem;
}

#results-p {
    padding: 0;
    margin: 1rem 0;
    font-size: 1.5rem;
}

@media screen and (max-width: 1148px) {
    h1 {
        padding: 0;
    }
    .high-score-button {
        margin: 2rem 0 0 0;
    }

    #submit-button {
        margin: 1rem 2rem 1rem 0;
    }
}